<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--
         <appSettings>
            <add key="connectionstring" value="Data Source=HENLEY\SQLEXPRESS;Initial Catalog=EsseDesigns;User ID=sa;Password="/>
			Data Source=HENLEY\SQLEXPRESS;Initial Catalog=CoolHairStyles;User ID=sa;Password="
         </appSettings>
    -->
	<connectionStrings>
		<add name="esseConnectionString" connectionString="Data Source=tcp:myhost;Initial Catalog=DB;User ID=user;Password=;Integrated Security=False;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
    <add name="esse-newConnectionString" connectionString="Data Source=tcp:host;Initial Catalog=DB;User ID=user;Password=;Integrated Security=False;Max Pool Size=100" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authorization>
      <allow users="*,?" />
    </authorization>
    <authentication mode="Forms">
        <forms name=".ASPXAUTH" loginUrl="myaccount/login.aspx" timeout="120"/>
      </authentication>
      <sessionState mode="InProc"
                    cookieless="false"
                    timeout="120" />
<!-- 	    <customErrors mode="On"/>
   -->
    <customErrors mode="RemoteOnly" defaultRedirect="error.htm">
       <error statusCode="403" redirect="error.htm"/>
       <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>

    <trust level="Full" />

	</system.web>

  <location path="myaccount">
    <system.web>
	  <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>

  <location path="myaccount/reg">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="myaccount/chat">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true">
        <assemblies>
          <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </assemblies>
      </compilation>
      <pages>
        <namespaces>
          <clear/>
          <add namespace="System"/>
          <add namespace="System.Collections"/>
          <add namespace="System.Collections.Specialized"/>
          <add namespace="System.Configuration"/>
          <add namespace="System.Text"/>
          <add namespace="System.Text.RegularExpressions"/>
          <add namespace="System.Web"/>
          <add namespace="System.Web.Caching"/>
          <add namespace="System.Web.SessionState"/>
          <add namespace="System.Web.Security"/>
          <add namespace="System.Web.Profile"/>
          <add namespace="System.Web.UI"/>
          <add namespace="System.Web.UI.WebControls"/>
          <add namespace="System.Web.UI.WebControls.WebParts"/>
          <add namespace="System.Web.UI.HtmlControls"/>
        </namespaces>
      </pages>
    </system.web>
  </location>

  <location path="myaccount/forum">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
